<div class="py-5 px-3">
  <div class="card">
    <div class="row no-gutters">
      <div class="user_imgs col-lg-2 col-md-3 col-sm-4 col-3">
        <div class="m-2">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url, class: "user-icon card-img rounded-circle my-auto" %>
        <% else %>
          <%= image_tag "default_user.png", class: "default_user card-img rounded-circle" %>
        <% end %>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-9">
        <div class="card-body">
          <% if @user == current_user %>
            <%= link_to "プロフィールを編集" , edit_user_registration_path , class:"btn btn-outline-primary btn-block rounded-pill" %>  
          <% end %>
          <h3 class="card-title py-3"><%= @user.name %></h3>
          <% if @user.age? %>
            <h5><%= @user.age %> 歳</h5>
          <% end %>
          <br>
          <% if @user.ship_name? %>
            <h5><%= @user.ship_name %> 乗船中</h5>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <% if @user.self_introduction? %>
        <li class="list-group-item p-4"><%= @user.self_introduction %></li>
      <% else %>
        <li class="list-group-item p-4">よろしくお願いします！</li>
      <% end %>
    </ul>
  </div>

  <div class="text-center py-5">
    <h2>投稿履歴</h2>
  </div>
  
  <div class="card crature_card mx-auto " >
    <%= link_to "/creatures_infos/:id", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>
  <br>
  <div class="card crature_card mx-auto " >
    <%= link_to "/creatures_infos/:id", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>
  <br><div class="card crature_card mx-auto " >
    <%= link_to "/creatures_infos/:id", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>

  <nav aria-label="...">
    <ul class="pagination justify-content-center py-5" >
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  
</div>