<div class="py-5">
  <div class="text-center pb-5">
    <h2>最新の発見情報</h2>
  </div>
  <% @creatures_infos.each do |creatures_info| %>
    <div class="card creatures_card mx-auto" >
      <div class="card-title p-2 ml-2 ">
          <%= link_to user_path(creatures_info.user.id), class: "link_color" do %>
            <% if creatures_info.user.picture? %>
              <%= image_tag creatures_info.user.picture.thumb.url, class: "creatures_infos_user_icon" %>
            <% else %>
              <%= image_tag "default_user.png", class: "creatures_infos_user_icon" %>
            <% end %>
            <%= creatures_info.user.name %>
          <% end %>
      </div>
      <%= link_to creatures_info_path(creatures_info), class: "link_color" do %>
        <% if creatures_info.picture? %>
          <div class="mx-3">
            <%= image_tag creatures_info.picture.url, class: "card-img-top creature_img" %>
          </div>
        <% end %>
        <div class="card-body">
          <div class="card-text">
            <%= creatures_info.content %>
          </div>
          <div class="text-right time_color">
            <small class="small_letters"><%= creatures_info.created_at.to_s(:human) %></small>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
  <div class="py-5"> 
    <%= paginate @creatures_infos %>
  </div>
</div>