<div class="py-5">
  <div class="text-center pb-5">
    <h2>最新の発見情報</h2>
  </div>
  
  <% @creatures_infos.each do |creatures_info| %>
    <div class="card creatures_card mx-auto " >
      <%= link_to creatures_info_path(creatures_info) do %>
        <% if creatures_info.picture? %>
          <%= image_tag creatures_info.picture.url, class: "card-img-top creature_img" %>
        <% else %>
          <img class="card-img-top creature_imgs" src="/assets/default_creatures.jpg">
        <% end %>
      <% end %>
        <div class="card-body">
          <div class="card-title py-2">
            <%= link_to user_path(creatures_info.user.id), class: "link_color" do %>
              <% if creatures_info.user.picture? %>
                <%= image_tag creatures_info.user.picture.url, class: "creatures_infos_user_icon" %>
              <% else %>
                <%= image_tag "default_user.png", class: "creatures_infos_user_icon" %>
              <% end %>
              <%= creatures_info.user.name %>
            <% end %>
          </div>
          <div class="card-text">
           <%= link_to creatures_info.content, creatures_info_path(creatures_info) , class: "link_color" %> 
          </div>
        </div>
    </div>
    <br>
  <% end %>

  <nav aria-label="...">
    <ul class="pagination justify-content-center py-5" >
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>