<div class="py-5 px-3">
  <div class="card">
    <% if @creatures_info.picture? %>
      <%= image_tag @creatures_info.picture.url, class: "card-img" %>
    <% else %>
        <img class="card-img" src="/assets/default_creatures.jpg">
    <% end %>
    <div class="card-body">
      <h3 class="card-title py-2">
        <%= link_to user_path(@creatures_info.user), class:"link_color" do %>
          <% if @creatures_info.user.picture? %>
            <%= image_tag @creatures_info.user.picture.url, class: "creatures_info_user_icon" %>
          <% else %>
            <%= image_tag "default_user.png", class: "creatures_info_user_icon" %>
          <% end %>
          <%= @creatures_info.user.name %>
        <% end %>
      </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item py-2"><%= @creatures_info.content %></li>
        <li class="list-group-item py-2">・緯度 <%= @creatures_info.latitude %></li>
        <li class="list-group-item py-2">・経度 <%= @creatures_info.longitude %></li>
        <% if @creatures_info.weather? %>
          <li class="list-group-item py-2">・天候 <%= @creatures_info.weather %></li>
        <% end %>
        <% if @creatures_info.sea_lavel? %>
          <li class="list-group-item py-2">・波高 <%= @creatures_info.sea_lavel %>m</li>
        <% end %>
        <% if @creatures_info.visibility?%>
          <li class="list-group-item py-2">・視程 <%= @creatures_info.visibility %>マイル</li>
        <% end %>
        <% if @creatures_info.temperature?%>
          <li class="list-group-item py-2">・気温 <%= @creatures_info.temperature %>°</li>
        <% end%>
        <% if @creatures_info.departure? %>
          <li class="list-group-item py-2">・出発地 <%= @creatures_info.departure%></li>
        <% end%>
        <% if @creatures_info.destination? %>
          <li class="list-group-item py-2">・目的地 <%= @creatures_info.destination %></li>
        <% end %>
      </ul>
      <% if @creatures_info.user.id == current_user.id %>
        <%= link_to "削除する", creatures_info_path(@creatures_info), data: { confirm: "本当に削除しますか？" }, method: :delete,class:"btn btn-outline-danger btn-block rounded-pill mt-5" %></p>
      <% end %>
    </div>
  </div>
</div>
  