<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="text-center">
    <div class="mb-5 pb-5 px-3">
      <h3 class="form-title py-5">プロフィールを編集</h3>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :プロフィール写真%></small><br />
        <%= f.file_field :picture %>
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :名前 %></small><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class:"form-control" %>
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :Eメール %></small><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" %>      
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :年齢 %></small><br />
        <%= f.number_field :age, autofocus: true, autocomplete: "age" ,class:"form-control" %>      
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :乗船中の船 %></small><br />
        <%= f.text_field :ship_name, autofocus: true, autocomplete: "ship_name" ,class:"form-control" %>      
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :自己紹介 %></small><br />
        <%= f.text_area :self_introduction, autofocus: true, autocomplete: "self_introduction" ,class:"form-control", placeholder:"100文字以内で入力して下さい。" %>      
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :パスワード %> <i>(変更したくない場合は空白のままにして下さい)</i></small><br />
        <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control" %>
        <% if @minimum_password_length %>
        <em class="label_title">(<%= @minimum_password_length %> 文字以上で入力してください)</em>
        <% end %>
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :確認用パスワード %></small><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control" %>
      </div>

      <div class="field form-group text-left py-1">
        <small class="label_title"><%= f.label :現在のパスワード %> <i>(変更するには現在のパスワードが必要です)</i></small><br />
        <%= f.password_field :current_password, autocomplete: "current-password" ,class:"form-control"  %>
      </div>

      <div class="actions mt-5 mb-4">
        <%= f.submit "変更する" ,class:"btn btn_width btn-primary" %>
      </div>

      <div class="actions">
        <%= link_to "キャンセル", user_path(current_user) ,class:"btn btn_width btn-light" %>
      </div>

      <div class="py-5">
        <h3>退会する</h3>
        <%= link_to "アカウントを削除", registration_path(resource_name), data: { confirm: "削除するとこのアカウントが利用できなくなります。よろしいですか？" }, method: :delete,class:"btn btn-outline-danger" %>
      </div>
    </div>    
  </div>  
<% end %>



